*{
    margin: 0;
    padding: 0;
    /* cursor: none; */
}

html,body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.65;
    background-color: rgb(136, 136, 136);
    scroll-behavior: smooth;
}

main{
    padding-left: 20px;
    padding-right: 20px;
}

/* Loader */
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}
.loader:before, .loader:after{
    content: '';
    border: 1em solid #00ffd5;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;
}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
/* Loader */

/* Navigasi */
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}

.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}
/* Akhir Navigasi */

/* Hero */
.hero-image{
    background-image: linear-gradient(
    rgba(0,0,0,0.5), 
    rgba(0,0,0, 0.5)), 
    url("img/gunung3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text{
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h1{
    font-size: 50px;
    font-weight: 700;
    border: 3px solid ;
    margin-bottom: 10px;
}

.hero-image .hero-text p{
    font-size: 30px;
    font-weight:lighter;
    
}

.hero-image .hero-btn{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover{
    background: #fff;
    color: #000;
}
/* Hero */

/* Container */
.container-satu{
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.kolom-utama{
    flex: 3;
    order: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.kolom-utama p{
    text-align: justify;
}

.sidebar-satu{
    flex: 1;
    order: 2;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

.container-dua{
    max-width: 1000px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 10px;
}

.kolom-satu{
    flex: 1;
    order: 1;
}

.kolom-dua{
    flex: 1;
    order: 2;
}

.container-form{
    background: black;
    padding: 14px 0px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

/* Container */

/* Responsive */

@media (min-width:600px){
    
    .container-satu{
        display: flex;
    }

    .container-dua{
        display: flex;
    }
}

/* Responsive */

/* Gambar */
.img-about{
    border-radius: 50%;
    margin: 10px 0 10px;
    width: 40%;
}

.img-school{
    max-width: 100px;
    max-height: 100px;
}

.img-org{
    max-width: 50px;
    max-height: 50px;
    padding-right: 14px;
}
/* Gambar */

section{
    margin: 0 0 10px;
}

table, td, th {  
    text-align: left;
    padding-top: 5px;
}

.sidebar-satu a{
    font-size: 50px;
    padding-right: 10px;
    color: #313131;
    transition: 300ms ease-out;
  }

/* Link Sosial Media */
.fb:hover{
    color: #4267B2;
    background: white;
}

.tw:hover{
    color: rgba(26, 172, 209, 0.815);
    background: white;
}

.ig:hover{
    color: rgb(190, 16, 190);
    background: white;
}

.linkedin:hover{
    color: darkcyan;
    background: white;
}

.gmail:hover{
    color: red;
    background: white;
}

.github:hover{
    color: #4078c0;
    background: white;
}

/* Link Sosial Media */

/* Form */

form{
    margin-top: 50px;
    text-align: center;
  }
  
.form-control{
    width: 350px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
  
  
form .submit{
    background-color: orange;
    padding: 10px 0 10px;
    border-color: transparent;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 200ms ease-out;
}
  
form .submit:hover{
    background-color: tomato;
}

/* Form */

/* Footer */
footer{
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 15px;
}
/* Footer */

/* Scroll to Top */
.to-top {
    background: rgb(255, 105, 105);
    position: fixed;
    bottom: 20px;
    right:20px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:white;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }

.to-top:hover{
    background: rgb(25, 6, 110);
    box-shadow: 0 5px 10px 0 rgba(32, 32, 32, 0.904);
}  

.to-top.active {
    bottom:20px;
    pointer-events: auto;
    opacity:1;
}

/* Scroll to Top */

#clock {
    font-size: 35px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}

.btn-song{
    background-color: tomato;
    border-radius: 5px;
    border:none;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    padding: 1.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-song:focus{
    outline: none;
}

.btn-song:active{
    transform: scale(0.8);
    transform:translateY(4px);
    box-shadow: 0 0 10px #686868;
}